<div class="setTimer">
  <label class="p-2">Enter Timer limit</label>
  <input class="inputLimit" type="number" #counterVal [(ngModel)]="counter" />
  <div class="d-grid gap-2 d-md-block text-end">
    <button type="button" class="btn btn-primary" [disabled]="!counterVal.value" (click)="toggleLimit()">{{
      counterBtnLabel }}</button>
    <button class="btn btn-secondary" type="reset" [disabled]="!counterVal.value" (click)="reset()">Reset</button>
  </div>

  <div class="pauseStats text-start" *ngFor="let item of pausedAtList | async">
    <label>Paused at
      <span>{{ item }}</span>
    </label>
  </div>
</div>
