<ul class="cards" *ngIf="prodList$ | async; else loader">
  <li class="cards__item list" *ngFor="let prods of prodList$ | async">
    <div class="product__card">
      <div class="product__image" [ngStyle]="{'background-image': 'url(' + prods.image + ')'}"></div>
      <div class="product__info">
        <div class="prod__title">{{prods.title }}</div>
        <button class="btn btn--block card__btn mt-auto">{{ prods.price }}</button>
      </div>
    </div>
  </li>
</ul>

<!-- spinner to come up when data is loading -->
<ng-template #loader>
  <div class="spin"></div>
</ng-template>
