<div class="container">
  <nav class="product-filter">
    <div class="sort">
      <div class="collection-sort-view">
        <div class="gridView" (click)="changeView(1)">
          <fa-icon [icon]="['fas', 'th-large']" size="lg"></fa-icon>
        </div>
        <div class="listView" (click)="changeView(2)">
          <fa-icon [icon]="['fas', 'list-ul']" size="lg"></fa-icon>
        </div>
      </div>
      <div class="collection-sort">
        <select class="form-select" title="sort" (change)="sortFilter($event)">
          <option value="asc">Low to High</option>
          <option value="desc">High to Low</option>
        </select>
      </div>
    </div>
  </nav>

  <main class="list" *ngIf="viewType === 1; else list_view">
    <app-grid-view [prodList$]=productList$ ></app-grid-view>
  </main>

  <ng-template #list_view>
    <main class="list">
      <app-list-view [prodList$]=productList$></app-list-view>
    </main>
  </ng-template>
</div>
