<div id="routes">
  <button class="btn btn-primary routesBtn" type="button" routerLink="/banners" routerLinkActive="active">Route 1</button>
  <button class="btn btn-primary routesBtn" type="button" routerLink="/product-list" routerLinkActive="active">Route 2</button>
  <!-- <button class="btn btn-primary routesBtn" type="button" routerLink="/customers" routerLinkActive="active">Route 3</button>
  <button class="btn btn-primary routesBtn" type="button" routerLink="/customers" routerLinkActive="active">Route 4</button>
  <button class="btn btn-primary routesBtn" type="button" routerLink="/customers" routerLinkActive="active">Route 5</button>
  <button class="btn btn-primary routesBtn" type="button" routerLink="/customers" routerLinkActive="active">Route 6</button> -->
</div>

<router-outlet></router-outlet>
