<div class="container">
  <div class="row text-center p-3">
    <div class="countDownTimer m-1 p-2">
      <div class="counter">
        <label> Count Down Timer</label>
        <p>{{ liveCounterValue }}</p>
      </div>
    </div>

    <div class="inputTimer m-1 p-2">
      <app-timer (counterValue)="setLimitValue($event)" (pauseStatus)="setPauseStatus($event)"
        (startCountClick)="setStartCount($event)" (pauseCountClick)="setPauseCount($event)"
        (logCurrDateTime)="logDateTime($event)" [pauseAtList]="pausedAtCounter"></app-timer>
    </div>
  </div>

  <div class="row text-center p-3">
    <div class="logger m-1 p-2">
      <app-logger [currDateTime]="currDateTime"></app-logger>
    </div>

    <div class="clickCount m-1 p-2">
      <app-click-counter [startClickCount]="startCounter" [pauseClickCount]="pauseCounter"></app-click-counter>
    </div>
  </div>
</div>
